<GridLayout
    backgroundColor="#3c495e"
    cols = "10% auto, 10%"
    rows="80,260,100,auto,10%"
    margin="0"
>
    
    <GridLayout class="form" col="1" row="3" rows="60,60,60,60">
        <TextField
        hint="Name"
        class="login-field"
        [(ngModel)]="adress.title"
        returnKeyType="next" 
        row="0"
        >
        </TextField>

        <TextField
        hint="Adress"
        class="login-field"
        [(ngModel)]="adress.address"
        row="1"
        returnKeyType="done" 
        >
        </TextField>

        <button text="Check Address" backgroundColor="orange" row="2" (tap)="onSubmit()"></button>
        <button text="Add Address" backgroundColor="green" row="3" (tap)="onSubmit()"></button>

    </GridLayout>

    <GridLayout class="avatar" col="1" row="2" columns="*" rows="*" >
        <Image src="~/assets/images/adress.png" backgroundColor="#ffffff" borderRadius="25%" width="50" height="50" ></Image>
    </GridLayout>

    <GridLayout row="1" col="0" colsPan="3" cols="*" rows="*" backgroundColor="orange">
        <GridLayout row="2" col="0">
            <Mapbox
            #map
            accessToken="pk.eyJ1Ijoiem91aGFpcjk0IiwiYSI6ImNrcGd1bXk5MDA2cWUydXBtMWdvOTVsM3QifQ.hinqS9M9vWd0L7g__N-I8g"
            mapStyle="streets"
            hideCompass="true"
            zoomLevel="14"
            showUserLocation="true"
            disableZoom="false"
            disableRotation="false"
            disableScroll="false"
            disableTilt="false"
            (mapReady)="onMapReady($event)">
        </Mapbox> 
        </GridLayout>
  
    </GridLayout>
    <GridLayout row="0" col="0" colsPan="3" cols="*" rows="*"  backgroundColor="#3c495e">

            <label text="Add new Adress" ></label>

    </GridLayout>

</GridLayout>
