.menu {
    background: #f9faf8;
    color: orange;
    border-radius: 25;
    height: 70 ;
  
}

button{
    background: orange;
    font-weight: bold;
    color: #f9faf8;
}
.arrow-down {
    width: 10; 
    height: 10; 
    border-left: 20 solid transparent;
    border-right: 20 solid transparent;
    
    border-top: 20 solid #f00;
  }